@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***************************** General */

body {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.bg-color {
    background-color: #0C1330;
}

h2,
h3,
h4,
h5 {
    font-family: 'Merriweather Sans', sans-serif;
}

.activity-question,
p {
    font-family: 'Open Sans', sans-serif;
}

.carousel-item .card {
    background-color: pink;
}

/***************************** Header */

.bg-img-home {
    background-image: url('../images/weather-img-v1.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.heading {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 130px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    z-index: 2;
    width: 100%;
    background-repeat: no-repeat;
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

/***************************** Location Section */

.location-textbox {
    margin: 20px 0 20px 0;
    padding: 10px 70px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}

.btn-style {
    background-color: #474554;
    border: none;
    color: #E0E0E0;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 1px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-style:hover {
    background-color: #ACA7CB;
    font-weight: 500;
    transform: scale(1.05);
}


/***************************** Welcome message and weather section */

.wel-message {
    padding-bottom: 20px;
    margin-top: 20px;
    color: #E0E0E0;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.card-body {
    color: black;
}

#forecast {
    padding-bottom: 10px;
}

/***************************** Google maps section */

#activity-search {
    padding: 10px 70px;
    width: 400px;
    text-align: center;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}

.activity-question {
    color: #E0E0E0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-style-activity {
    background-color: #474554;
    border: none;
    color: #E0E0E0;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 23px 2px 0 23px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-style-activity:hover {
    background-color: #ACA7CB;
    font-weight: 500;
    transform: scale(1.05);
}

.activity-btn {
    padding-bottom: 20px;
    display: none;
}

.google-map-display {
    padding-bottom: 20px;
    display: none;
}

#map {
    height: 400px;
}

/***************************** Contact Us Page */

.contact-us-form {
    color: #E0E0E0;
}

.contact-us-form h2 {
    font-size: 50px;
    padding-top: 30px;
}

.form-group {
    padding-top: 15px;

}

/***************************** Footer section */

#footer-details {
    padding-bottom: 20px;
    color: #E0E0E0;
}

#footer-details h4,
#footer-details p {
    margin-left: 50px;
}

#footer-details p {
    font-size: 16px;
}

.btn-footer {
    margin-left: 5rem;
}

.social-links {
    padding-right: 30px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 8px;
    text-align: center;
    color: #0C1330;
    background: #DDD0C8;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;

}

.social-links .facebook-color:hover {
    background-color: #3b5998;
    color: #DDD0C8
}

.social-links .linkedin-color:hover {
    background-color: #0077b5;
    color: #DDD0C8
}

.social-links .instagram-color:hover {
    background: linear-gradient(45deg, #f09433 10%, #e6683c 35%, #dc2743 60%, #cc2366 85%, #bc1888 100%);
    color: #DDD0C8
}

.social-links .youtube-color:hover {
    background-color: #c4302b;
    color: #DDD0C8
}

/***************************** 404 Page */

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/***************************** Media Queries */

@media (max-width: 1246px) {
    .card-img-top {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1024px) {

    .bg-img-home {
        height: 40vh;
    }

    .heading {
        font-size: 100px;
        top: 50%;
    }
}

@media (max-width: 916px) {
    .btn-style {
        padding: 10px 24px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    .bg-img-home {
        background-image: url('../images/weather-img-768px.jpg');
    }

    .bg-img-home {
        height: 30vh;
    }

    .heading {
        font-size: 80px;
        top: 50%;
    }

    .card-img-top {
        width: 100px;
        height: 100px;
    }

    .card h5 {
        font-size: 16px;
    }

    .card h3 {
        font-size: 14px;
    }

    .card p {
        font-size: 13px;
        margin-bottom: 5px;
    }

    #footer-details h4,
    #footer-details p {
        margin-left: 0;
    }

    #welcomeMessage {
        font-size: 13px;
    }

    #footer-details h4 {
        font-size: 16px;
    }

    #footer-details p {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .card-img-top {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 425px) {

    .bg-img-home {
        background-image: url('../images/weather-img-425px.jpg');
        height: 30vh;
    }

    .heading {
        font-size: 50px;
        top: 50%;
    }

    .social-links {
        padding-right: 0;
    }
}

@media (max-width: 320px) {
    .bg-img-home {
        margin: 0;
        height: 20vh;
    }

    .heading {
        font-size: 35px;
        top: 50%;

    }

    .location-textbox {
        margin: 10px 0 10px 0;
        padding: 10px 35px;
        font-size: 13px;
    }

    .weather-btn {
        text-align: center;
    }

    .wel-message {
        padding-bottom: 20px;
        margin-top: 20px;
        color: #E0E0E0;
        font-size: 13px;
    }

    #forecast {
        padding-bottom: 20px;
    }

    .col-sm-12 label {
        display: grid;
        justify-content: center;
        font-size: 13px;
    }

    #activity-search {
        padding: 10px 15px;
        width: 250px;
        text-align: center;
        font-size: 10px;
        margin-top: 5px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-style-activity {
        padding: 10px 10px;
        font-size: 13px;
        margin: 15px;
    }

    .footer-info {
        text-align: center;
    }

    #footer-details h4,
    #footer-details p {
        margin-left: 0px;
    }



    .social-links {
        padding-right: 0;
    }

}